In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('../../../data/데이터정리/전체데이터.csv')
df['날짜'] = df['날짜'].map(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d').date())
df.head()

,날짜,년,월,일,시,구이름,기온(°C),강수량(mm),날씨,날씨_리스트,강설량_체크,계산된적설량(cm),교통사고수,차량통행속도,교통량
0,2017-01-01,2017,1,1,0,강남구,1.7,0.0,구름많음/안개,"['구름많음', '안개']",False,0.0,0.0,36.298658,1708.4
1,2017-01-01,2017,1,1,1,강남구,1.4,0.0,구름많음/안개,"['구름많음', '안개']",False,0.0,0.0,34.514040,1815.7
2,2017-01-01,2017,1,1,2,강남구,1.2,0.0,구름많음/안개,"['구름많음', '안개']",False,0.0,1.0,35.041178,1104.1
3,2017-01-01,2017,1,1,3,강남구,0.5,0.0,구름많음/안개,"['구름많음', '안개']",False,0.0,2.0,37.128855,844.3
4,2017-01-01,2017,1,1,4,강남구,0.6,0.0,구름많음/안개,"['구름많음', '안개']",False,0.0,1.0,38.630438,759.3

In [3]:
df_all = df.groupby(['날짜','년','월','일','시']).mean().reset_index()

In [4]:
df_all.describe()

,년,월,일,시,기온(°C),강수량(mm),계산된적설량(cm),교통사고수,차량통행속도,교통량
count,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17467.000000,17518.000000
mean,2017.500000,6.526027,15.720548,11.500000,12.982437,0.138567,0.005317,0.176758,28.424249,1723.251489
std,0.500014,3.447950,8.796498,6.922384,11.289882,1.019539,0.118714,0.109436,4.349258,648.880141
min,2017.000000,1.000000,1.000000,0.000000,-17.672000,0.000000,0.000000,0.000000,15.313915,55.666667
25%,2017.000000,4.000000,8.000000,5.750000,3.583833,0.000000,0.000000,0.080000,25.005145,1173.768527
50%,2017.500000,7.000000,16.000000,11.500000,14.112000,0.000000,0.000000,0.160000,27.325265,1990.862262
75%,2018.000000,10.000000,23.000000,17.250000,22.436000,0.000000,0.000000,0.240000,32.234401,2244.653548
max,2018.000000,12.000000,31.000000,23.000000,38.408000,30.739130,8.068182,0.800000,42.331500,3111.870833

In [5]:
df_no_snow = df_all[df_all['계산된적설량(cm)']<=0]
df_no_snow.head()

,날짜,년,월,일,시,기온(°C),강수량(mm),강설량_체크,계산된적설량(cm),교통사고수,차량통행속도,교통량
0,2017-01-01,2017,1,1,0,1.132,0.0,False,0.0,0.32,32.589623,1210.831201
1,2017-01-01,2017,1,1,1,1.012,0.0,False,0.0,0.12,31.144824,1276.088369
2,2017-01-01,2017,1,1,2,0.532,0.0,False,0.0,0.36,31.242286,826.889614
3,2017-01-01,2017,1,1,3,0.220,0.0,False,0.0,0.20,33.554607,616.558222
4,2017-01-01,2017,1,1,4,-0.040,0.0,False,0.0,0.24,35.265069,555.230114

In [6]:
df_no_snow.shape

(17363, 12)

In [7]:
df_no_snow.mean()

년             2017.500893
월                6.531705
일               15.683753
시               11.482693
기온(°C)          13.089720
강수량(mm)          0.134455
강설량_체크           0.064217
계산된적설량(cm)       0.000000
교통사고수            0.176601
차량통행속도          28.450608
교통량           1723.601273
dtype: float64

In [8]:
df_little_snow = df_all[(df_all['계산된적설량(cm)']>0) & (df_all['계산된적설량(cm)']<5)]
df_little_snow.head()

,날짜,년,월,일,시,기온(°C),강수량(mm),강설량_체크,계산된적설량(cm),교통사고수,차량통행속도,교통량
300,2017-01-13,2017,1,13,12,-4.748,0.02,True,0.02,0.12,23.282001,2191.345571
460,2017-01-20,2017,1,20,4,-2.628,0.52,True,0.52,0.24,32.755701,618.530654
461,2017-01-20,2017,1,20,5,-2.824,0.96,True,0.96,0.12,28.884368,773.880435
462,2017-01-20,2017,1,20,6,-3.080,0.52,True,0.52,0.16,27.587946,1268.514372
463,2017-01-20,2017,1,20,7,-3.124,0.32,True,0.32,0.04,25.923586,1756.538373

In [9]:
df_little_snow.shape

(154, 12)

In [10]:
df_little_snow.mean()

년             2017.409091
월                5.798701
일               19.688312
시               13.344156
기온(°C)           1.028785
강수량(mm)          0.474960
강설량_체크           1.000000
계산된적설량(cm)       0.474960
교통사고수            0.189870
차량통행속도          25.645863
교통량           1673.804308
dtype: float64

In [11]:
df_much_snow = df_all[df_all['계산된적설량(cm)']>=5]
df_much_snow.head()

,날짜,년,월,일,시,기온(°C),강수량(mm),강설량_체크,계산된적설량(cm),교통사고수,차량통행속도,교통량
7888,2017-11-25,2017,11,25,16,4.987500,6.152174,True,6.152174,0.20,19.760569,2200.403021
7889,2017-11-25,2017,11,25,17,5.543478,8.068182,True,8.068182,0.40,18.817391,2265.492440
7890,2017-11-25,2017,11,25,18,6.526087,5.785714,True,5.785714,0.64,18.286340,2246.125369

In [12]:
df_much_snow.shape

(3, 12)

In [13]:
df_much_snow.mean()

년             2017.000000
월               11.000000
일               25.000000
시               17.000000
기온(°C)           5.685688
강수량(mm)          6.668690
강설량_체크           1.000000
계산된적설량(cm)       6.668690
교통사고수            0.413333
차량통행속도          18.954767
교통량           2237.340277
dtype: float64

In [14]:
print("   눈이 안 내렸을 때 차량통행속도 평균 :", df_no_snow.mean()['차량통행속도'])
print("눈이 0~5cm 내렸을 때 차량통행속도 평균 :", df_little_snow.mean()['차량통행속도'])
print("눈이 5cm이상 내렸을 때차량통행속도 평균 :", df_much_snow.mean()['차량통행속도'])

   눈이 안 내렸을 때 차량통행속도 평균 : 28.450608233548696
눈이 0~5cm 내렸을 때 차량통행속도 평균 : 25.6458630626249
눈이 5cm이상 내렸을 때차량통행속도 평균 : 18.954766531994892