In [1]:
import pandas as pd
import datetime

## 기본 DataFrame 불러오기

In [2]:
basic_df = pd.read_csv('basic_dataframe.csv', encoding='cp949')

basic_df.날짜 = basic_df.날짜.map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
basic_df['년'] = basic_df.날짜.map(lambda x : x.year)
basic_df['월'] = basic_df.날짜.map(lambda x : x.month)
basic_df['일'] = basic_df.날짜.map(lambda x : x.day)
basic_df['날짜'] = basic_df.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

## 서울시_일별_기상관측 데이터 불러오기 (날씨데이터ex)맑음, 눈, 비 등)

In [3]:
서울시_일별_기상관측_2017 = pd.read_csv('../원본데이터/기상/서울시_일별_기상관측_2017.csv')
서울시_일별_기상관측_2018 = pd.read_csv('../원본데이터/기상/서울시_일별_기상관측_2018.csv')
서울시_일별_기상관측 = pd.merge(서울시_일별_기상관측_2017, 서울시_일별_기상관측_2018, how='outer')
del 서울시_일별_기상관측['Unnamed: 0']

서울시_일별_기상관측.날짜 = 서울시_일별_기상관측.날짜.map(lambda x : x[:-4])
서울시_일별_기상관측.날짜 = 서울시_일별_기상관측.날짜.map(lambda x : datetime.datetime.strptime(x, "%Y년 %m월%d일"))
서울시_일별_기상관측['년'] = 서울시_일별_기상관측.날짜.map(lambda x : x.year)
서울시_일별_기상관측['월'] = 서울시_일별_기상관측.날짜.map(lambda x : x.month)
서울시_일별_기상관측['일'] = 서울시_일별_기상관측.날짜.map(lambda x : x.day)
서울시_일별_기상관측['날짜'] = 서울시_일별_기상관측.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

서울시_일별_기상관측 = 서울시_일별_기상관측[['날짜','년','월','일','날씨']]

In [4]:
서울시_일별_기상관측.head()

           날짜     년  월  일         날씨
0  2017-01-01  2017  1  1    구름많음/안개
1  2017-01-02  2017  1  2  구름많음/비/안개
2  2017-01-03  2017  1  3      맑음/안개
3  2017-01-04  2017  1  4    구름조금/안개
4  2017-01-05  2017  1  5         흐림

In [5]:
print(서울시_일별_기상관측['날씨'].isnull().sum()) 
서울시_일별_기상관측['날씨'][서울시_일별_기상관측['날씨'].isnull()]='맑음' #18년 12월 31일 날씨 데이터 없음 ( 맑음으로 예상 )

1

In [6]:
서울시_일별_기상관측.tail()

             날짜     년   월   일  날씨
725  2018-12-27  2018  12  27  맑음
726  2018-12-28  2018  12  28  맑음
727  2018-12-29  2018  12  29  맑음
728  2018-12-30  2018  12  30  맑음
729  2018-12-31  2018  12  31  맑음

In [7]:
서울시_일별_기상관측 = pd.merge(basic_df, 서울시_일별_기상관측, how='outer')

In [8]:
서울시_일별_기상관측.head()

           날짜     년  월  일  시  구이름       날씨
0  2017-01-01  2017  1  1  0  강남구  구름많음/안개
1  2017-01-01  2017  1  1  1  강남구  구름많음/안개
2  2017-01-01  2017  1  1  2  강남구  구름많음/안개
3  2017-01-01  2017  1  1  3  강남구  구름많음/안개
4  2017-01-01  2017  1  1  4  강남구  구름많음/안개

In [9]:
서울시_일별_기상관측.count()

날짜     438000
년      438000
월      438000
일      438000
시      438000
구이름    438000
날씨     438000
dtype: int64

## 구별_일별_기상관측 데이터 불러오기 (기온, 강수량 데이터)
#### 현충원 -> 동작구, 북악산 -> 종로구

In [10]:
구별_코드번호 = {400 : '강남', 402 : '강동', 424 : '강북', 404 : '강서', 509 : '관악', 413 : '광진', 423 : '구로'
          , 417 : '금천', 410 : '기상청', 425 : '남현', 407 : '노원', 406 : '도봉', 408 : '동대문', 411 : '마포'
          , 422 : '북악산', 420 : '북한산', 412 : '서대문', 401 : '서초', 421 : '성동', 414 : '성북', 403 : '송파'
          , 405 : '양천', 510 : '영등포', 415 : '용산', 416 : '은평', 419 : '중구', 409 : '중랑', 418 : '한강', 889 : '현충원'}

In [11]:
구별_일별_기상관측_2017 = pd.read_csv('../원본데이터/기상/구별_시간별_기상관측_2017.csv', encoding='cp949')
구별_일별_기상관측_2018 = pd.read_csv('../원본데이터/기상/구별_시간별_기상관측_2018.csv', encoding='cp949')

구별_일별_기상관측 = pd.merge(구별_일별_기상관측_2017, 구별_일별_기상관측_2018, how='outer')

구별_일별_기상관측.일시 = 구별_일별_기상관측.일시.map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d %H:00"))
구별_일별_기상관측['년'] = 구별_일별_기상관측.일시.map(lambda x : x.year)
구별_일별_기상관측['월'] = 구별_일별_기상관측.일시.map(lambda x : x.month)
구별_일별_기상관측['일'] = 구별_일별_기상관측.일시.map(lambda x : x.day)
구별_일별_기상관측['시'] = 구별_일별_기상관측.일시.map(lambda x : x.hour)
구별_일별_기상관측['날짜'] = 구별_일별_기상관측.일시.map(lambda x : datetime.date(x.year, x.month, x.day))

구별_일별_기상관측['구이름'] = 구별_일별_기상관측['지점'].map(lambda x : 구별_코드번호[x])
구별_일별_기상관측['구이름'] = 구별_일별_기상관측['구이름'].map(lambda x : '동작' if x=='현충원' else x)
구별_일별_기상관측['구이름'] = 구별_일별_기상관측['구이름'].map(lambda x : '종로' if x=='북악산' else x)
구별_일별_기상관측['구이름'] = 구별_일별_기상관측['구이름'].map(lambda x : x if x=='중구' else x+'구')

구별_일별_기상관측 = 구별_일별_기상관측[구별_일별_기상관측['구이름'].isin(basic_df.구이름.unique().tolist())][['년','월','일','시','구이름','기온(°C)','강수량(mm)']]

In [12]:
17520 - 구별_일별_기상관측.groupby(['구이름']).count()

        년    월    일    시  기온(°C)  강수량(mm)
구이름
강남구    33   33   33   33      36      105
강동구    52   52   52   52      71      181
강북구    27   27   27   27      34      118
강서구    96   96   96   96     111      220
관악구    22   22   22   22      28      103
광진구    54   54   54   54      65      309
구로구    24   24   24   24      29       83
금천구    82   82   82   82     105      194
노원구     8    8    8    8      61       33
도봉구     7    7    7    7      14      218
동대문구    0    0    0    0       3      277
동작구    19   19   19   19      33       91
마포구    94   94   94   94     127      106
서대문구   43   43   43   43      49      130
서초구    12   12   12   12      14       46
성동구     0    0    0    0       2      114
성북구    21   21   21   21      28      149
송파구    44   44   44   44      52       98
양천구    15   15   15   15      18       86
영등포구   22   22   22   22      33      247
용산구    82   82   82   82      86      182
은평구   199  199  199  199     379      470
종로구   756  756  756  756     807      994
중구     31   31   31   31      42      230
중랑구    20   20   20   20      36       82

In [13]:
구별_일별_기상관측 = pd.merge(basic_df, 구별_일별_기상관측, how='outer')

In [14]:
구별_일별_기상관측.count()

날짜         438000
년          438000
월          438000
일          438000
시          438000
구이름        438000
기온(°C)     435737
강수량(mm)    433134
dtype: int64

## 기본 DataFrame, 구별_일별_기상관측, 서울시_일별_기상관측 데이터 합치기

#### 전처리 설명 

1. 2018년 12월 31일 날씨 데이터가 없어서 검색 한 후 날씨를 맑음으로 처리
2. 강수량(1mm) 데이터로 적설량(1cm)를 계산함 ( 강수량(1mm) = 적설량(1cm) )

#### 이슈 설명

1. 기온이 없는 데이터 2263개 어떻게 처리할지
2. 강수량이 없는 데이터 4866개 어떻게 처리할지

In [15]:
기상 = pd.merge(구별_일별_기상관측, 서울시_일별_기상관측, how='outer')

In [16]:
기상.head()

           날짜     년  월  일  시  구이름  기온(°C)  강수량(mm)       날씨
0  2017-01-01  2017  1  1  0  강남구     1.7      0.0  구름많음/안개
1  2017-01-01  2017  1  1  1  강남구     1.4      0.0  구름많음/안개
2  2017-01-01  2017  1  1  2  강남구     1.2      0.0  구름많음/안개
3  2017-01-01  2017  1  1  3  강남구     0.5      0.0  구름많음/안개
4  2017-01-01  2017  1  1  4  강남구     0.6      0.0  구름많음/안개

In [17]:
기상['기온(°C)'].isnull().sum()

2263

In [18]:
기상['강수량(mm)'].isnull().sum()

4866

계산식 : 강수량(1mm) = 적설량(1cm)

In [19]:
기상['날씨_리스트'] = 기상['날씨'].map(lambda x : x.split('/'))

기상['강설량_체크'] = 기상['날씨'].map(lambda x : '눈' in  x)
# 기상관측['강설량_체크'] = 기상관측['강설량_체크'].fillna(False)

기상['계산된적설량(cm)'] = 기상['강수량(mm)']*기상['강설량_체크']

In [20]:
기상['강수량(mm)'].unique()

array([ 0. ,  1. ,  0.5,  2. ,  1.5,  2.5,  3. ,  4. ,  3.5,  7. ,  5. ,
       13.5, 22.5, 18.5, 30. ,  5.5,  6. , 11. , 10.5,  4.5, 11.5,  9. ,
        8. ,  9.5, 23.5, 49.5,  6.5, 36. , 17. , 27. , 31.5, 16. , 27.5,
       12. , 20.5, 20. ,  7.5, 10. ,  8.5, 18. , 12.5, 26. , 38.5,  nan,
       29.5, 26.5, 19. , 44. , 13. , 22. , 21.5, 35. , 15.5, 25.5, 43.5,
       14.5, 24.5, 33. , 14. , 16.5, 21. , 40.5, 15. , 32.5, 45.5, 17.5,
       19.5, 28.5, 45. , 34.5, 49. , 24. , 65.5, 41. , 28. , 36.5, 25. ,
       30.5, 37. , 40. , 44.5, 37.5, 32. , 29. , 46.5, 48.5, 23. , 58.5,
       38. , 34. , 51.5, 76. , 39. , 56.5, 43. , 48. , 31. , 46. , 35.5,
       42. , 53. , 51. , 53.5, 39.5, 33.5])

In [21]:
기상.강설량_체크.unique()

array([False,  True])

In [22]:
기상['계산된적설량(cm)'].unique()

array([ 0. ,  1. ,  0.5,  1.5,  2. ,  6. , 10. , 11. ,  2.5,  3. ,  nan,
        4. ,  5.5,  8. ,  6.5,  3.5,  7.5,  5. ,  4.5,  9. , 13. ,  7. ,
       10.5, 12.5, 11.5,  9.5,  8.5, 13.5])

In [23]:
기상.head()

,날짜,년,월,일,시,구이름,기온(°C),강수량(mm),날씨,날씨_리스트,강설량_체크,계산된적설량(cm)
0,2017-01-01,2017,1,1,0,강남구,1.7,0.0,구름많음/안개,"[구름많음, 안개]",False,0.0
1,2017-01-01,2017,1,1,1,강남구,1.4,0.0,구름많음/안개,"[구름많음, 안개]",False,0.0
2,2017-01-01,2017,1,1,2,강남구,1.2,0.0,구름많음/안개,"[구름많음, 안개]",False,0.0
3,2017-01-01,2017,1,1,3,강남구,0.5,0.0,구름많음/안개,"[구름많음, 안개]",False,0.0
4,2017-01-01,2017,1,1,4,강남구,0.6,0.0,구름많음/안개,"[구름많음, 안개]",False,0.0

In [24]:
기상.to_csv('../데이터정리/기상.csv', index=False)