In [1]:
import pandas as pd
import datetime

## 기본 DataFrame 불러오기

In [2]:
basic_df = pd.read_csv('basic_dataframe.csv', encoding='cp949')

basic_df.날짜 = basic_df.날짜.map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
basic_df['년'] = basic_df.날짜.map(lambda x : x.year)
basic_df['월'] = basic_df.날짜.map(lambda x : x.month)
basic_df['일'] = basic_df.날짜.map(lambda x : x.day)
basic_df['날짜'] = basic_df.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

## 데이터 불러오기

In [3]:
경보발령단계_df = pd.read_excel('../원본데이터/제설현장관리시스템_20191004/─┌╡σ┴ñ║╕_20191001.xlsx', sheet_name='경보발령단계', header=None, index_col=0)
경보발령단계_dict = 경보발령단계_df.to_dict()[1]

부서정보_df = pd.read_excel('../원본데이터/제설현장관리시스템_20191004/─┌╡σ┴ñ║╕_20191001.xlsx', sheet_name='부서정보', header=None, index_col=0)
부서정보_dict = 부서정보_df.to_dict()[1]

인원구분_df = pd.read_excel('../원본데이터/제설현장관리시스템_20191004/─┌╡σ┴ñ║╕_20191001.xlsx', sheet_name='인원구분', header=None, index_col=0)
인원구분_dict = 인원구분_df.to_dict()[1]

제설자재코드_df = pd.read_excel('../원본데이터/제설현장관리시스템_20191004/─┌╡σ┴ñ║╕_20191001.xlsx', sheet_name='제설자재코드', header=None, index_col=0)
제설자재코드_dict = 제설자재코드_df.to_dict()[1]

장비구분_df = pd.read_excel('../원본데이터/제설현장관리시스템_20191004/─┌╡σ┴ñ║╕_20191001.xlsx', sheet_name='장비구분', header=None, index_col=0)
장비구분_dict = 장비구분_df.to_dict()[1]

In [4]:
제설경보발령_df = pd.read_excel('../원본데이터/20190718_제설현장관리시스템/TN_ALARM_GNFD.xlsx')

투입자재_df = pd.read_excel('../원본데이터/20190718_제설현장관리시스템/TN_INPT_MTRIL.xlsx')

잔설처리_df = pd.read_excel('../원본데이터/20190718_제설현장관리시스템/VN_INPUT_SNOW.xlsx')

투입장비_df = pd.read_excel('../원본데이터/20190718_제설현장관리시스템/TN_INPT_EQPMN.xlsx')

투입인원_df = pd.read_excel('../원본데이터/20190718_제설현장관리시스템/TN_INPT_NMPR.xlsx')

## 제설경보발령

In [5]:
제설경보발령_df = 제설경보발령_df.rename(columns={'ALARM_GNFD_DE_DT':'날짜','ALARM_GNFD_STEP_SN':'경보발령단계','ALARM_GNFD_TIME_HM':'시간','ALARM_GNFD_CN':'경보발령내용','ALARM_GNFD_SJ':'경보발령제목'})

In [6]:
change_list = []
not_change_list = []

for i in 제설경보발령_df.경보발령단계:
    try:
        change_list.append(경보발령단계_dict[int(i)])
    except:
        change_list.append('check')
        not_change_list.append(i)

제설경보발령_df.경보발령단계 = change_list
# change_list.count('check') # 0개

In [7]:
# 211번째줄 15/11/01 --> 2015-11-01로 바꿈
제설경보발령_df.날짜 = 제설경보발령_df.날짜.map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
제설경보발령_df['년'] = 제설경보발령_df.날짜.map(lambda x : x.year)
제설경보발령_df['월'] = 제설경보발령_df.날짜.map(lambda x : x.month)
제설경보발령_df['일'] = 제설경보발령_df.날짜.map(lambda x : x.day)
제설경보발령_df['날짜'] = 제설경보발령_df.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

In [8]:
제설경보발령_df[['날짜','시간','경보발령단계','경보발령제목','경보발령내용','년','월','일']]

,날짜,시간,경보발령단계,경보발령제목,경보발령내용,년,월,일
0,2011-01-13,1500,보강,제설대책 보강근무 지시 및 1단계 발령 예고,1. 2011.01.13(목) 14:00시 기상청 일기예보에 의하면 2011.0...,2011,1,13
1,2011-01-22,1200,발령해제,제설대책 보강근무 해제 및 1단계근무 발령 예고 알림,1. 2011.1.22(토) 11:00시 기상예보에 의하면 12:00 이...,2011,1,22
2,2011-01-29,300,보강,기상예보에 따른 제설대책 보강근무 지시,1. 2011.01.29(토) 02:00 현재 기상예보에 의하면 ...,2011,1,29
3,2011-02-03,300,보강,기상예보에 따른 제설대책 보강근무 지시,1. 2011.02.03(목) 02:00 기상예보에 의하면 201...,2011,2,3
4,2011-02-03,900,발령해제,제설작업 근무 해제(평상시근무로 전환),1. 2011. 02. 03. 5:00 기상청 일기예보에 ...,2011,2,3
...,...,...,...,...,...,...,...,...
432,2018-12-13,1300,발령해제,제설작업 근무 해제(평상시근무로 전환),\n 2018.12.13. 현재 기상현황 등을 고려하여 2018.12.13 1...,2018,12,13
433,2019-02-06,2100,보강,기상예보에 따른 제설대책 보강근무 지시,1. 2019.2.6.(수) 17:00 기상청 발표에 의하면 서울지...,2019,2,6
434,2019-02-07,800,발령해제,제설작업 근무 해제(평상시근무로 전환),1. 2019. 2. 7(목). 08:00부로 근무를 해제하...,2019,2,7
435,2019-02-12,800,발령해제,제설작업 근무 해제(평상시근무로 전환),1. 2019. 2. 12. 08:00부로 근무를 해제하니 ...,2019,2,12
436,2019-02-16,700,발령해제,제설작업 근무 해제(평상시근무로 전환),1. 2019. 2. 16(토). 07:00 부로 근무를 해...,2019,2,16

In [9]:
제설경보발령_df.시간.unique()

array([1500, 1200,  300,  900, 2100,  800, 1800,    0,  600, 1130, 1420,
       1005,  905, 1615, 2310, 1000, 1100,  400, 1640, 1355,  700, 1425,
       2120, 1455,  825,  855,  955, 1700,  750,  250, 1300,  615,  835,
        500, 2300, 1900, 1915, 1905, 1950, 1140,   20, 1400,  230,  540,
       1120, 1535,  915, 1720, 1635, 2340,  930, 2055, 2250, 2040,  635,
       1735, 1520, 1525, 1530, 2350, 2200, 1515, 1600, 2030, 1630, 1430,
       2125, 1510, 1540, 2130, 2330, 2000, 1550, 1320, 2155, 1330, 2205,
       1230,  100,   50,  730,  130,    5, 1730,  420, 1750, 1740, 1305,
       1605, 1810,  910,   25, 1930, 1805, 1315, 2235, 1030, 2230, 2110,
       1725, 1025])

In [10]:
제설경보발령_df = 제설경보발령_df[['날짜','년','월','일','시간','경보발령단계','경보발령제목','경보발령내용']]
제설경보발령_df.to_csv('../데이터정리/미완성_제설경보발령.csv', index=False)

## 투입자재

In [11]:
투입자재_df = 투입자재_df.rename(columns={'MTRIL_CODE_SE':'재설자재','DEPT_CDE':'구이름','INPT_DE_DT':'날짜','INPT_TIME_HM':'시간','INPT_MTRIL_QY':'투입자재량','RM':'비고'})

In [12]:
change_list = []
not_change_list = []

for i in 투입자재_df.구이름:
    try:
        change_list.append(부서정보_dict[int(i)])
    except:
        change_list.append('check')
        not_change_list.append(i)

투입자재_df.구이름 = change_list
# {6110000, 6112226} 데이터 없음
# change_list.count('check') # 35개

In [13]:
change_list = []
not_change_list = []

for i in 투입자재_df.재설자재:
    try:
        change_list.append(제설자재코드_dict[int(i)])
    except:
        change_list.append('check')
        not_change_list.append(i)

투입자재_df.재설자재 = change_list
# change_list.count('check') #0개

In [14]:
투입자재_df.날짜 = 투입자재_df.날짜.map(lambda x : datetime.datetime.strptime(str(x), "%Y%m%d"))
투입자재_df['년'] = 투입자재_df.날짜.map(lambda x : x.year)
투입자재_df['월'] = 투입자재_df.날짜.map(lambda x : x.month)
투입자재_df['일'] = 투입자재_df.날짜.map(lambda x : x.day)
투입자재_df['날짜'] = 투입자재_df.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

In [15]:
투입자재_df.head()

       재설자재  구이름          날짜    시간  투입자재량  비고   INPT_DT     년  월   일
0      염화칼슘  도봉구  2011-02-26  2200    0.0 NaN  11/02/26  2011  2  26
1        소금  도봉구  2011-02-26  2200    0.0 NaN  11/02/26  2011  2  26
2        모래  도봉구  2011-02-26  2200    0.0 NaN  11/02/26  2011  2  26
3    염화마그네슘  도봉구  2011-02-26  2200    0.0 NaN  11/02/26  2011  2  26
4  환경인증(고상)  도봉구  2011-02-26  2200    0.0 NaN  11/02/26  2011  2  26

In [16]:
투입자재_df.비고.unique()

array([nan])

In [17]:
투입자재_df.시간.unique()

array([2200, 1200, 1510, 1540, 1520, 2324, 1655, 1957,    1, 2300,  930,
       1330, 1130, 1812, 2243, 1755,    8, 2310, 1754, 2318, 1722, 1126,
       1829, 2305, 1142, 1804, 1040, 1701,  101, 2315, 1739, 2322, 1102,
       2304,  109, 1059, 1740, 2312, 1052, 1136, 1846,  209, 2259, 1657,
       1109, 1135, 1800, 2328,  956, 1808,  726, 2351, 1811, 2323, 1116,
       1000,   54, 1757, 1830, 1108, 1756,   47, 1104,  502, 1847, 2331,
        830,   55, 1854,  958, 1005, 1110, 1107, 2313, 2314,  100, 2301,
       2325, 1956, 2119, 2342, 1403, 2329, 1703,  630, 2306, 1842,  925,
        900, 2006,  320, 1529,  445, 1120, 1851, 1833,    3,  137, 2256,
        135, 1742, 1734, 1012,  120, 1840,  501, 1821, 1827, 1841, 2204,
       1837, 2302, 1750, 1744, 2255, 2303, 2137,  105,  200,  400,  910,
       1430, 1900,   10,  330, 1100, 1930, 2100,  700,  540,  600, 1630,
       2000, 2230,  310, 1600, 2140,  530, 2210,  430, 1700,  500, 1530,
          0, 1400,  350,  940, 1030, 1500, 2250,  110, 1300, 1620,  810,
        300,  920,  800,  730, 1410, 1420, 1310, 2030, 2120, 1010,  840,
         30, 2330,  740, 1610, 1250, 1810, 1320, 1020, 2110,   20,  710,
       1050, 1230, 1730])

In [18]:
투입자재_df.재설자재.unique()

array(['염화칼슘', '소금', '모래', '염화마그네슘', '환경인증(고상)', '액상제설재', '염화칼슘수용액',
       '환경인증(액상)', '삽', '넉가래', '모래주머니', '빗자루', '도구계', '자재계'], dtype=object)

In [19]:
투입자재_df = 투입자재_df[['날짜','년','월','일','시간','구이름','재설자재','투입자재량','비고']]

투입자재_df.to_csv('../데이터정리/미완성_투입자재.csv', index=False)

## 잔설처리

In [20]:
잔설처리_df = 잔설처리_df.rename(columns={'INPUT_DATE':'날짜','INPUT_TIME':'시간','DEPT_CODE':'구이름','INPUT_QTY':'잔설처리량','REMARK':'비고'})

In [21]:
change_list = []
not_change_list = []

for i in 잔설처리_df.구이름:
    try:
        change_list.append(부서정보_dict[int(i)])
    except:
        change_list.append('check')
        not_change_list.append(i)

잔설처리_df.구이름 = change_list
# {'6110000', '6112226', 'D611428'} 데이터 없음
# change_list.count('check') # 6개

In [22]:
잔설처리_df.날짜 = 잔설처리_df.날짜.map(lambda x : datetime.datetime.strptime(str(x), "%Y%m%d"))
잔설처리_df['년'] = 잔설처리_df.날짜.map(lambda x : x.year)
잔설처리_df['월'] = 잔설처리_df.날짜.map(lambda x : x.month)
잔설처리_df['일'] = 잔설처리_df.날짜.map(lambda x : x.day)
잔설처리_df['날짜'] = 잔설처리_df.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

In [23]:
잔설처리_df.head()

           날짜    시간    구이름  잔설처리량  비고     년  월   일
0  2011-01-13  1510  남부사업소    0.0 NaN  2011  1  13
1  2011-01-13  1510    송파구    0.0 NaN  2011  1  13
2  2011-01-13  1510   영등포구    0.0 NaN  2011  1  13
3  2011-01-13  1510    금천구    0.0 NaN  2011  1  13
4  2011-01-13  1510    강서구    0.0 NaN  2011  1  13

In [24]:
잔설처리_df.비고.unique()

array([nan])

In [25]:
잔설처리_df.시간.unique()

array([1510, 2100,  700,  600,  900,   10, 1130, 1630, 2000, 2230,  310,
       2200,  630, 1200, 1540, 1600, 2210,  430,  910,  930,  400, 1010,
       1420, 2300, 1700,  500,  200,  540, 1520, 1100, 2140,  330, 1030,
        810, 2030,  800, 1400, 1800, 1430, 1830,  100, 1900, 1330, 1930,
        959, 1448, 1603, 1604, 1614, 1611, 1621, 1624, 1622, 1625, 1627,
       1628, 1631, 1633, 1632, 1634, 1635, 1636, 1638, 1639, 1641, 1640,
       1642, 1645, 1647, 1648, 1644, 1649, 1650, 1654, 1658, 2341, 2351,
          7,   21,   22,   33,   49,  116,  232,  234,  238,  259,  321,
        322,  324,  328,  333,  343,  358,  401,  416,  425,  437,  442,
        450,  517,  616,  645, 1941, 2231, 2256, 1309, 1408, 1409, 1410,
       1407, 1413, 1411, 1415, 1417, 1418, 1421, 1425, 1431, 1433, 1434,
       1436, 1439, 1437, 1438, 1440, 1441, 1443, 1444, 1446, 1447, 1449,
       1450, 1451, 1452, 1453, 1455, 1458, 1511, 1516, 1629, 2107, 2112,
       2117, 2119, 2122, 2128, 2129, 2133, 2232, 2235, 2240, 2250, 2302,
       2312, 2313, 2316, 2318, 2322, 2325, 2324, 2329, 2330, 2331, 2333,
       2336, 2337, 2338, 2339, 2342, 2353, 2359,   34,   41, 1841, 1403,
       1750, 1740, 1837, 2006, 2204, 2243, 2259, 2303, 2301, 2305, 2306,
       2304, 2314, 2315, 2310, 2323, 2328,    1,    3,  830,  925,  956,
        958, 1000, 1005, 1012, 1040, 1052, 1059, 1102, 1104, 1107, 1108,
       1109, 1110, 1116, 1120, 1126, 1135, 1136, 1142, 1655, 1657, 1701,
       1703, 1722, 1734, 1739, 1742, 1744, 1754, 1755, 1757, 1756, 1804,
       1808, 1811, 1812, 1821, 1827, 1829, 1833, 1840, 1842, 1847, 1846,
       1851, 1854, 1956, 1957, 2137, 2255,    8,   47,   54,   55,  101,
        105,  109,  120,  135,  137,  209,  320,  445,  502,  501,  726,
       1529,  530,    0,  350,  730,  940,  110, 1300, 1620, 1530, 1500,
        300,  920, 1320, 1310, 2120, 1250,  740,  840,   30, 1610, 1810,
         20, 1020,  710, 1050, 2110, 1230, 1730])

In [26]:
잔설처리_df = 잔설처리_df[['날짜','년','월','일','시간','구이름','잔설처리량','비고']]

잔설처리_df.to_csv('../데이터정리/미완성_잔설처리.csv', index=False)

## 투입장비

In [27]:
투입장비_df = 투입장비_df.rename(columns={'INPT_DE_DT':'날짜','INPT_TIME_HM':'시간','DEPT_CDE':'구이름','EQPMN_SE':'장비','INPT_EQPMN_CO':'장비수','RM':'비고'})

In [28]:
change_list = []
not_change_list = []

for i in 투입장비_df.구이름:
    try:
        change_list.append(부서정보_dict[int(i)])
    except:
        change_list.append('check')
        not_change_list.append(i)

투입장비_df.구이름 = change_list
# {'6110000', '6112226', 'D611428'} 데이터 없음
# change_list.count('check') # 114개

In [29]:
change_list = []
not_change_list = []

for i in 투입장비_df.장비:
    try:
        change_list.append(장비구분_dict[int(i)])
    except:
        change_list.append('check')
        not_change_list.append(i)

투입장비_df.장비 = change_list
# {0, 100} 데이터없음
# change_list.count('check') # 16188개

In [30]:
투입장비_df.날짜 = 투입장비_df.날짜.map(lambda x : datetime.datetime.strptime(str(x), "%Y%m%d"))
투입장비_df['년'] = 투입장비_df.날짜.map(lambda x : x.year)
투입장비_df['월'] = 투입장비_df.날짜.map(lambda x : x.month)
투입장비_df['일'] = 투입장비_df.날짜.map(lambda x : x.day)
투입장비_df['날짜'] = 투입장비_df.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

In [31]:
투입장비_df.head()

           날짜    시간  구이름    장비  장비수  비고   INPT_DT     년   월  일
0  2010-11-09   517  도봉구    기타  0.0 NaN  11/01/23  2010  11  9
1  2010-11-08  2100  은평구   유니목  1.0 NaN  11/01/23  2010  11  8
2  2010-11-08  2100  은평구  다목적차  2.0 NaN  11/01/23  2010  11  8
3  2010-11-08  2100  은평구  덤프트럭  0.0 NaN  11/01/23  2010  11  8
4  2010-11-08  2100  은평구  일반트럭  0.0 NaN  11/01/23  2010  11  8

In [32]:
투입장비_df.비고.unique()

array([nan])

In [33]:
투입장비_df.시간.unique()

array([ 517, 2100,  616,  645, 1941, 2231, 2256, 1309, 1408, 1409, 1410,
       1407, 1413, 1411, 1415, 1417, 1418, 1420, 1421, 1425, 1430, 1431,
       1433, 1434, 1627, 1628, 1630, 1631, 1633, 1632, 1634, 1635, 1636,
       1603, 1604, 1614, 1611, 1621, 1624, 1622, 1625, 1109, 1110, 1116,
       1120, 1126, 1130, 1135, 1136, 1142, 1655, 1657, 1701, 1703, 1722,
       1734, 1739, 1742, 1744, 1754, 1755, 1756, 1757, 1800, 1804, 1808,
       1811, 1812, 1821, 1827, 1829, 1830, 1833, 1840, 1842, 1846, 1847,
       1851, 1854, 1956, 1957, 2137, 2255, 2313, 2315, 2331, 2342,    8,
         47,   54,   55,  100,  101,  105,  109,  120,  135,  137,  209,
        320,  445,  501,  502,  726, 1529, 2300,  930, 1330, 1645, 1647,
       1648, 1649, 1650, 1654, 1658, 2341, 2351,    7,   21,   22,   33,
         49,  116,  232,  234,  238,  259,  321,  322,  324,  328,  333,
        343,  358,  401,  416,  425,  437,  442,  450, 1436, 1437, 1438,
       1439, 1440, 1441, 1443, 1444, 1446, 1447, 1448, 1449, 1450, 1451,
       1452, 1453, 1455, 1458, 1510, 1511, 1516, 1629, 2107, 2112, 2117,
       2119, 2122, 2128, 2129, 2133, 2200, 2232, 2235, 2240, 2250, 2302,
       2312, 2316, 2318, 2322, 2324, 2325, 2329, 2330, 2333, 2336, 2337,
       2338, 2339, 2353, 2359,   34,   41, 1841, 1403, 1750, 1740, 1837,
       2006, 2204, 2243, 2259, 2301, 2303, 2304, 2305, 2306, 2310, 2314,
       2323, 2328,    1,    3,  630,  830,  900,  925,  956,  958, 1000,
       1005, 1012, 1040, 1052, 1059, 1102, 1104, 1107, 1108,  959, 1638,
       1639, 1641, 1640, 1642, 1644,  400,  200,  910, 1900, 1100,   10,
        330, 1930,  700,  600,  540, 2000, 2230, 1700, 1400,    0, 1540,
       1600, 1030, 1200, 2140,  500,  940, 2210,  350,  730,  430,  810,
        310, 1520,  110, 2030,  530, 1010,  800, 1530, 1300,  300, 1500,
       1620,  920, 1320, 1310, 2120,  840, 1250,  740, 1020,   30,   20,
       1610, 1810, 2110,  710, 1050, 1230, 1730])

In [34]:
투입장비_df = 투입장비_df[['날짜','년','월','일','시간','구이름','장비','장비수','비고']]

투입장비_df.to_csv('../데이터정리/미완성_투입장비.csv', index=False)

## 투입인원

In [35]:
투입인원_df = 투입인원_df.rename(columns={'INPT_DE_DT':'날짜','INPT_TIME_HM':'시간','DEPT_CDE':'구이름','NMPR_SE':'인원구분','INPT_NMPR_CO':'인원수','RM':'비고'})

In [36]:
change_list = []
not_change_list = []

for i in 투입인원_df.구이름:
    try:
        change_list.append(부서정보_dict[int(i)])
    except:
        change_list.append('check')
        not_change_list.append(i)

투입인원_df.구이름 = change_list
# {'6110000', '6112226', 'D611428'} 데이터 없음
# change_list.count('check') # 114개

In [37]:
change_list = []
not_change_list = []

for i in 투입인원_df.인원구분:
    try:
        change_list.append(인원구분_dict[int(i)])
    except:
        change_list.append('check')
        not_change_list.append(i)

투입인원_df.인원구분 = change_list
# change_list.count('check') # 0개

In [38]:
투입인원_df.날짜 = 투입인원_df.날짜.map(lambda x : datetime.datetime.strptime(str(x), "%Y%m%d"))
투입인원_df['년'] = 투입인원_df.날짜.map(lambda x : x.year)
투입인원_df['월'] = 투입인원_df.날짜.map(lambda x : x.month)
투입인원_df['일'] = 투입인원_df.날짜.map(lambda x : x.day)
투입인원_df['날짜'] = 투입인원_df.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

In [39]:
투입인원_df.head()

           날짜   시간  구이름      인원구분  인원수  비고   INPT_DT     년   월  일
0  2010-11-09  343  금천구     환경미화원  0.0 NaN  11/01/23  2010  11  9
1  2010-11-09  343  금천구       운전원  0.0 NaN  11/01/23  2010  11  9
2  2010-11-09  343  금천구        기타  0.0 NaN  11/01/23  2010  11  9
3  2010-11-09  343  금천구        군인  0.0 NaN  11/01/23  2010  11  9
4  2010-11-09  343  금천구  자원봉사(학생)  0.0 NaN  11/01/23  2010  11  9

In [40]:
투입인원_df.비고.unique()

array([nan])

In [41]:
투입인원_df.시간.unique()

array([ 343,  358,  401,  416,  425,  437,  442,  450,  517, 2100,  616,
        645, 1941, 2231, 2256, 1309, 1408, 1409, 1410, 1407, 1413, 1411,
       1415, 1417, 1418, 1420, 1421, 1425, 1430, 1603, 1604, 1614, 1611,
       1621, 1624, 1622, 1625, 1627, 1628, 1630, 1631, 1431, 1433, 1434,
       1436, 1437, 1438, 1439, 1440, 1441, 1443, 1444, 1446, 1447, 1448,
       1449, 1450, 1451, 1452, 1453, 1455, 1458, 1510, 1511, 1516, 1529,
       1629, 1632, 1633, 1634, 1635, 1636, 1638, 1639, 1640, 1641, 1642,
       1644, 1645,  959, 1739, 1740, 1742, 1744, 1750, 1754, 1755, 1756,
       1757, 1800, 1804, 1808, 1811, 1812, 1821, 1827, 1829, 1830, 1833,
       1837, 1840, 1841, 1842, 1846, 1847, 1851, 1854, 1956, 1957, 2006,
       2107, 2112, 2117, 2119, 2122, 2128, 2129, 2133, 2137, 2200, 2204,
       2232, 2235, 2240, 2243, 2250, 2255, 2259, 2300, 2301, 2302, 2303,
       2304, 2305, 2306, 2310, 2312, 2313, 2314, 2315, 2316, 2318, 2322,
       2323, 2324, 2325, 2328, 2329, 2330, 2331, 2333, 2336, 2337, 2338,
       2339, 2341, 2342, 2351, 2353, 2359, 1647, 1648, 1649, 1650, 1654,
       1655, 1657, 1658, 1701, 1703, 1722, 1734,    1,    3,    7,    8,
         21,   22,   33,   34,   41,   47,   49,   54,   55,  100,  101,
        105,  109,  116,  120,  135,  137,  209,  232,  234,  238,  259,
        320,  321,  322,  324,  328,  333,  445,  501,  502,  630,  726,
        830,  900,  925,  930,  956,  958, 1000, 1005, 1012, 1040, 1052,
       1059, 1102, 1104, 1107, 1108, 1109, 1110, 1116, 1120, 1126, 1130,
       1135, 1136, 1142, 1330, 1403,  400,  200,  910, 1900, 1100,   10,
        330, 1930,  700,  600,  540, 2000, 2230, 1700, 1400, 1540, 1600,
       1030, 1200, 2140,  500,  940, 2210,    0,  350,  430,  810,  730,
        310, 1520, 2030,  110,  530, 1010,  800, 1530, 1300,  300, 1500,
       1620,  920, 1610, 1310, 2120, 1320,  840, 1250,  740, 1020,   30,
         20, 1810, 2110,  710, 1050, 1230, 1730])

In [42]:
투입인원_df = 투입인원_df[['날짜','년','월','일','시간','구이름','인원구분','인원수','비고']]

투입인원_df.to_csv('../데이터정리/미완성_투입인원.csv', index=False)